openapi: 3.1.0
info:
  title: SEON AML Phone API
  description: SEON is a fraud prevention and AML compliance platform offering a modular REST API architecture spanning the Fraud API and standalone Email, Phone, IP, BIN, and AML enrichment APIs.
  version: '1.0'
  x-generated-from: https://docs.seon.io/api-reference
  x-generated-by: claude-crawl-2026-05-25
servers:
- url: https://api.seon.io
  description: Default (EU) region
- url: https://api.us-east-1-main.seon.io
  description: US region
- url: https://api.ap-southeast-1-main.seon.io
  description: APAC region
- url: https://api.me-central-1-main.seon.io
  description: Middle East region
security:
- apiKey: []
tags:
- name: Phone
paths:
  /SeonRestService/phone-api/v2:
    post:
      summary: Enrich a phone number
      description: Returns risk scores, account aggregates, fraud history, carrier details, and other phone intelligence data.
      operationId: enrichPhone
      tags:
      - Phone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericRequest'
      responses:
        '200':
          description: Phone enrichment result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    GenericResponse:
      type: object
      additionalProperties: true
    GenericRequest:
      type: object
      additionalProperties: true
    Error:
      type: object
      additionalProperties: true
      properties:
        error:
          type: string
        message:
          type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-KEY
