openapi: 3.1.0
info:
  title: SEON AML IP API
  description: SEON is a fraud prevention and AML compliance platform offering a modular REST API architecture spanning the Fraud API and standalone Email, Phone, IP, BIN, and AML enrichment APIs.
  version: '1.0'
  x-generated-from: https://docs.seon.io/api-reference
  x-generated-by: claude-crawl-2026-05-25
servers:
- url: https://api.seon.io
  description: Default (EU) region
- url: https://api.us-east-1-main.seon.io
  description: US region
- url: https://api.ap-southeast-1-main.seon.io
  description: APAC region
- url: https://api.me-central-1-main.seon.io
  description: Middle East region
security:
- apiKey: []
tags:
- name: IP
paths:
  /SeonRestService/ip-api/v1/{ip}:
    get:
      summary: Lookup IP address intelligence
      description: Returns IP intelligence including history, flags, and identifiers.
      operationId: lookupIp
      tags:
      - IP
      parameters:
      - in: path
        name: ip
        required: true
        schema:
          type: string
        description: IPv4 or IPv6 address to evaluate.
      - in: query
        name: include
        required: false
        schema:
          type: string
        description: Comma-separated list of additional fields (history, flags, id).
      - in: query
        name: flags_timeframe_days
        required: false
        schema:
          type: integer
        description: Timeframe in days used when evaluating flags.
      responses:
        '200':
          description: IP intelligence result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    GenericResponse:
      type: object
      additionalProperties: true
    Error:
      type: object
      additionalProperties: true
      properties:
        error:
          type: string
        message:
          type: string
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-KEY
